<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <h1>
                <a href="/" style="color: inherit">
                    <img src="\Content\pix\logo.png" alt="Logo" height="40" />
                    Zero Hunger
                </a>
            </h1>

            <div class="btn-group">
                <a href="/Home" class="btn btn-primary">Home</a>
                <div class="btn-group">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">Employees</button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/Home/AddEmployees">Add New Employees</a></li>
                      
                        <li><a class="dropdown-item" href="/Home/Employees">Manage Employees</a></li>
                    </ul>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">Restaurants</button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/Home/AddRestaurants">Add New Restaurants</a></li>
                        <li><a class="dropdown-item" href="/Restaurants">View Restaurants & Manage Requests</a></li>
                    </ul>
                </div>
                <a href="/Restaurants/Requests" class="btn btn-primary">Assign Employees</a>
                <a href="/Orders" class="btn btn-primary">Collect & Distribute</a>
                <a href="/Orders/History" class="btn btn-primary">History</a>
            </div>
        </div>
    </div>

    <div class="container body-content">
        <br><br>
        @RenderBody()
        <footer>
            <hr />
            <p>&copy; @DateTime.Now.Year By <a>Akash</a></p>
        </footer>
    </div>

    <script src="~/Content/bootstrap.bundle.min.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @*@Scripts.Render("~/bundles/bootstrap")*@
    @RenderSection("scripts", required: false)
</body>
</html>
